body
{
    font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
      
}
.download
{
    float: right;
}

.carousel
{
    width: 100%;
    background: rgb(170, 170, 170);
}

.micro-5-regular {
    font-family: "Micro 5", sans-serif;
    font-weight: 1000;
    font-style: normal;
  }
.cit
{
    height: 300px;
}
.lista{
    float: left;

}
.ico
{
    height: 50px;
}




